<%- include('../partials/header.ejs')%>

<section id="breadcrumb">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Forgot Password</h2>
      </div>
    </div>
  </div>

</section>

<div class="container py-5">

  <div class="row">
    <div class="col-md-5 mx-auto login_box"> 
      
  
<form method="post">


     
    <% if(message.success) { %>
    <div class="alert alert-success text-white"><%= message.success %></div>
    <% } %>
    <% if(message.fail) { %>
    <div class="alert alert-danger text-white"><%= message.fail %></div>
    <% } %>

     
    <h1>Forgot Password</h1>
   
    <label for="psw"><b>Enter Your Email</b></label>
    <input type="email" class="form-control"  placeholder="Enter Password" name="email" id="pass" />
    <button type="submit" class="log_btn action_btn d-block w-100">Forgot Password</button> 
    
 
 
     
      
      
    </div>
    
</form>
</div>
</div>
</div>

<%- include('../partials/footer.ejs'); %>
