<div class="header_top">
  <div class="container-fluid">
    <div class="top_nav_container">
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span> Call : +01 123455678990 </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span> Email : demo@gmail.com </span>
        </a>
      </div>
      <form class="search_form" method="POST" action="/search" id="search_form_submit">
        <div class="input-group">
 <div class="input-group-btn search-panel">
  <button type="button" class="btn btn-default dropdown-toggle all_btn" data-toggle="dropdown">
    <span id="search_concept">All</span> <span class="caret"></span>
  </button> 
  <ul class="dropdown-menu scrollable-dropdown" role="menu">
      
      <% category.forEach(data=>{ %>
    
          <li><a href="$"> <%= data.name %> </a></li>

        <% }) %>
    
  </ul>
 </div>
 <input type="hidden" name="category" value="all" id="search_param">
 <input type="text" class="form-control" name="search" id="search" placeholder="Search" required>
 
 
          <button class="search_btn" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
     
</div>
   </form>
      
      <div class="user_option_box">
        
        <% if(user){ %>
          
          <form action="/logout" method="POST" id="log_form" style="cursor: pointer; margin-bottom: 0px;" >
            <a href="#" onclick="document.getElementById('log_form').submit()" class="account-link">
              <i class="fa fa-user" aria-hidden="true"></i>
                <span>Logout</a></span>
            </a>
          </form>
         
    
         
        <% }else{ %>

          <a href="/login" class="account-link">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span> Login </span>
          </a>
        <% } %>

        <a href="/cart" class="cart-link">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span> Cart </span>
          <span id="cart_counter"><%= session.cart ? session.cart.totalQty : '0' %></span>
        </a>
      </div>
    </div>
  </div>
</div>
