<div class="header_top">
  <div class="container-fluid">
    <div class="top_nav_container">
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span> Call : +01 123455678990 </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span> Email : demo@gmail.com </span>
        </a>
      </div>
      <from class="search_form">
        <div class="input-group">
 <div class="input-group-btn search-panel">
  <button type="button" class="btn btn-default dropdown-toggle all_btn" data-toggle="dropdown">
    <span id="search_concept">All</span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu scrollable-dropdown" role="menu">
    <li><a href="#">Shirt</a></li>
    <li><a href="#">Phone</a></li>
    <li><a href="#">Tv</a></li>
    
    
  </ul>
 </div>
 <input type="hidden" name="search_param" value="all" id="search_param">
 <input type="text" class="form-control" name="x" id="search" placeholder="Search">
 
   
 
        
          <button class="" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
     
</div>
   </from>
      
      <div class="user_option_box">
        
        <% if(!user){ %>
          
          <a href="/login" class="account-link">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span> Login </span>
          </a>
    
         
        <% }else{ %>

          <form action="/logout" method="POST" id="log_form">
            <a href="#" onclick="document.getElementById('log_form').submit" class="account-link">
              <i class="fa fa-user" aria-hidden="true"></i>
                <span>Logout</a></span>
            </a>
          </form>

        <% } %>

        <a href="/cart" class="cart-link">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span> Cart </span>
          <span id="cart_counter"><%= session.cart ? session.cart.totalQty : '0' %></span>
        </a>
      </div>
    </div>
  </div>
</div>
