<div class="header_top">
  <div class="container-fluid">
    <div class="top_nav_container">
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span> Call : +01 123455678990 </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span> Email : demo@gmail.com </span>
        </a>
      </div>
      <from class="search_form">
        <input type="text" class="form-control" placeholder="Search here..." />
        <button class="" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </from>
      <div class="user_option_box">
        <% if(!locals.user){ %>
        <a href="/login" class="account-link">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span> Login </span>
        </a>
        <% }else{ %>
        <a href="" class="account-link">
          <i class="fa fa-user" aria-hidden="true"></i>
            <span>
              <%= locals.user.userName %>
            </span>
            <span><a href="/logout">Logout</a></span>
        </a>
        <% } %>
        <a href="" class="cart-link">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span> Cart </span>
        </a>
      </div>
    </div>
  </div>
</div>
